block layout
  doctype html
  html(lang="fr")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Special site
    body 
      h1 Testing site
      
      if isAuthenticated 
        a(href="/auth/signout") Déconnexion
      else 
        a(href="/auth/signin/form") Connexion 
        a(href="/user/signup/form") Inscription

      block content